p{
    color: purple;
}

#first {
    font-size: x-large;
    font-family: fangsong;
    color: rgb(159, 159, 233)
}
.serious {
    border: 2px darkorchid solid;
}

.silly {
    font-family: cursive;
}

.dunking-videos {
    border: 1px orangered solid;
    color: burlywood;
}